body{background-color: #C7D1A5;}

.container{
  
  width:500px;
  margin: 0 auto;
  background-color:#7FB4E3;
  padding: 20px;

}

.me{
  width: 100%;
  height: auto;
}

h1{font-size:3vw;
font-family: Bebas Neue;}

p{font-size:2
  vw;}

