@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
body{background-color: #C7D1A5;}

.container{
  
  width:500px;
  margin: 0 auto;
  background-color:#7FB4E3;
  padding: 20px;

}

.me{
  width: 100%;
  height: auto;
}

h1{font-size:3vw;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

p{font-size:2
  vw;}

